<h1 class="text-center text-3xl md:text-5xl font-main font-bold mb-4">
  Bienvenue {{ user.firstname }} !
</h1>

<div class="main">
  <app-back-button
    *ngIf="userRole === 'MERCHANT'"
    class="self-start ms-4 md:ms-32"
  />
  <app-upload-file
    image="{{ avatarUrl ?? 'assets/avatar-user.png' }}"
    [multiple]="false"
    [isProfilePictureMode]="true"
    acceptedTypes="image/*"
    (fileSubmitted)="onUploadFile($event)"
  ></app-upload-file>

  <div class="w-full md:w-[70%]">
    <app-user-form [userInfos]="user"></app-user-form>
  </div>
</div>
