*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;

  margin: 20px;
}
img {
  pointer-events: none;
}

.button {
  position: relative;
  --width-btn: 200px;
  width: var(--width-btn);
  transition: left 0.3s ease;
}

.action1,
.action2 {
  border-radius: 5px;
  height: 100%;
  width: var(calc(--width-btn - 5px));
  padding: 20px;
  position: absolute;
  display: flex;
}

.action1 {
  background-color: rgba(0, 128, 0, 0.42);
  z-index: -1;
  width: calc(var(--width-btn) / 2);
  left: 0;
}

.card {
  background-color: rgb(198, 198, 199);
  touch-action: none;
  z-index: 0;
}

.action2 {
  background-color: rgba(255, 0, 0, 0.436);
  z-index: -1;
  width: calc(var(--width-btn) / 2.2);
  right: 0;
  top: 0;
  height: 100%; /* Ensure it takes the full height of the button */
}

.transition {
  transition: transform 0.3s ease;
}

.card {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  border-radius: 5px;
  box-shadow: 2px 5px 5px rgb(128, 128, 128);
}

.cardBody {
  padding: 7px;
  width: 100%;
}

.imgcard {
  height: 100px;
  width: 100%;
  background-color: #686868;
  border-radius: 5px 5px 0 0;
}

.imgcard img {
  height: 100%;
  width: 100%;
  background-color: #686868;
  border-radius: 5px 5px 0 0;
}

.logoEtablissement {
  position: absolute;
  overflow: hidden;
  width: 75px;
  height: 75px;
  background-color: green;
  top: 55px;
  border-radius: 50%;
}

button {
  border-radius: 7px;
  padding: 5px 15px;
  color: white;
}

.allButtons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
}

.btn-valid {
  background-color: rgba(24, 119, 24, 0.633);
}

.btn-warning {
  background-color: rgba(194, 155, 26, 0.772);
}

.btn-danger {
  background-color: rgba(185, 34, 34, 0.772);
}
