<div class="w-full md:w-1/2 lg:w-1/3 p-4">
  <div class="flex flex-col">
    <div class="flex justify-between">
      <h2 class="text-2xl font-main font-bold text-center">
        {{ product.name }}
      </h2>
      <div class="flex">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <svg
              class="h-6 w-6 text-gray-400"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 6v6m0 0v6m0-6h6m-6 0H6"
              ></path>
            </svg>
          </div>
          <div class="ml-4">
            <div class="text-sm font-medium text-gray-900">
              {{ product.price }} €
            </div>
          </div>
        </div>
        <div class="flex items-center">
          <a
            [routerLink]="[
              '/merchant/establishment',
              establishmentId,
              'edit-product',
              product.id,
            ]"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          >
            Modifier
          </a>
          <button
            (click)="deleteProduct()"
            class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
          >
            Supprimer
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
