<h1 class="text-center text-3xl md:text-5xl font-main font-bold mb-4">
  Mes repas suspendus
</h1>
<p class="text-center font-main">Ci-dessous mes repas suspendus à collecter</p>

<div
  *ngIf="isLoading"
  class="flex justify-center items-center fixed top-0 left-0 w-full h-full"
>
  <app-loader></app-loader>
</div>

<div class="main">
  <div
    class="text-center text-2xl font-main font-bold mt-16"
    *ngIf="reservations.length === 0 && !isLoading"
  >
    Aucune réservation en cours
  </div>

  <app-card-reservation
    *ngFor="let reservation of reservations"
    [reservation]="reservation"
  ></app-card-reservation>
</div>
