<footer class="bg-white/10 backdrop-blur-lg hidden md:flex z-50 mt-8">
  <div class="boxlogo">
    <a href="https://www.instagram.com/" target="_blank" title="Instagram">
      <img src="assets/instagram.svg" alt="logo instagram" />
    </a>

    <a href="https://fr-fr.facebook.com/" target="_blank" title="Facebook">
      <img src="assets/facebook.svg" alt="logo facebook" />
    </a>
  </div>

  <p>
    CGU | Privacy policy | Nous contacter<br />
    &#64; Food Buddy copyright 2024. All rights Reserved
  </p>
</footer>
