.flex {
  font-family: 'Saira Semi Condensed', sans-serif;
  color: #605b5b;
}

.flex option {
  font-family: 'Saira Semi Condensed', sans-serif;
}

.list_name {
  color: #605b5b;
}

.nouns_forms {
  font-family: 'Saira Semi Condensed', sans-serif;
}
