/* .allboxes {
  height: 100vh;
  width: 100%;
} */

* {
  --width-form: 80%;
}
h1 {
  text-align: center;
  color: #3f3d3d;
  font-size: 25px;
  padding-top: 5px;
}
h6 {
  color: #605b5b;
}
input {
  border-radius: 5px;
  height: 30px;
  width: 100%; /*longueur des inputs*/
  text-align: center;
  line-height: 1.5;
  color: #3f3d3d;
  padding: 0.5rem;
}

form {
  width: var(--width-form); /*longueur pr erreurs*/
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
}

.error {
  color: #fff;
  font-size: 0.7em;
  text-align: center;
}

.allbuttons {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 140px;
  gap: 35px;
}

.buttons {
  padding-top: 1.3rem;
  display: flex;
  justify-content: space-around;
}

.btn-valid {
  background-color: #61a05a;
  width: 200px;
  border-radius: 5px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  color: #fff;
}

.btn-valid:hover {
  background-color: #518e4a;
}

.btn-warning {
  background-color: #ffb054;
  width: 200px;
  border-radius: 5px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  color: #fff;
}

.btn-warning:hover {
  background: #fb9c2f;
}

.btn-danger {
  background-color: rgba(26, 148, 26, 0.772);
  width: 200px;
  border-radius: 5px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  color: #fff;
}

.name {
  display: flex;
  justify-content: space-between !important;
  width: 100%;
}

.adresse-input {
  width: 100%;
  flex-direction: column;
}

/* input:focus {
  outline: none;
  box-shadow: 0 0 0 1px rgb(220, 38, 38);
} */

ul {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #ccc;
  background-color: #fff;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 1000;
  max-height: 150px;
  overflow-y: auto;
}

li {
  padding: 8px;
  cursor: pointer;
}

li:hover {
  background-color: #f0f0f0;
}
invalid-btn {
  background-color: orange;
}

.field {
  margin-top: 0.5rem;
}

.m-top-input {
  margin-top: 2rem;
}

/* div.controlPassword {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  .field {
    position: relative;

    .eyes {
      position: absolute;
      right: 5.5px;
      top: 4px;
      bottom: 0;
    }
  }
} */

.eyes {
  position: absolute;
  top: 0;
  right: 10px;
  padding-top: 2px;
}

.eyespassword > input {
  border-radius: 5px;
}

div.field {
  width: 100%;
}

@media (max-width: 676px) {
  h1 {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 5px;
  }
  form {
    width: 100%; /*longueur pr erreurs*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .buttons button {
    width: 100px;
  }

  div.field {
    width: 80%;
  }
}

@media (max-width: 390px) {
  input {
    border-radius: 5px;
    height: 30px;
    width: 100%; /*longueur des inputs*/
    text-align: center;
    line-height: 1.5;
    color: #3f3d3d;
  }
  .buttons {
    padding-top: 1rem;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
  }
  .buttons button {
    width: 100px;
  }
  div.field {
    width: 80%;
  }
}
