<div class="formBuisness">
  <div class="buttons">
    <button
      *ngIf="currentStep !== 1"
      class="button btn-warning"
      (click)="prevStep()"
    >
      Précédent
    </button>
    <button
      class="button btn-valid"
      *ngIf="currentStep === 4"
      (click)="createBuisness()"
    >
      Valider
    </button>
    <button
      class="button btn-valid"
      *ngIf="currentStep !== 4"
      (click)="nextStep()"
    >
      Suivant
    </button>
  </div>

  <div class="blockForm" *ngIf="currentStep === 1">
    <form [formGroup]="userForm" #myForm="ngForm" novalidate>
      <div class="avatar">Avatar</div>

      <div class="field">
        <div class="control controlName">
          <div
            *ngIf="
              userForm.get('firstName')?.invalid &&
              (userForm.get('firstName')?.dirty ||
                userForm.get('firstName')?.touched)
            "
          >
            <small
              class="error"
              *ngIf="userForm.get('firstName')?.errors?.['required']"
              >Prénom Requis.</small
            >
          </div>
          <input
            class="input"
            type="text"
            placeholder="Prenom"
            formControlName="firstName"
          />
        </div>
      </div>
      <div class="field">
        <div class="control">
          <div
            *ngIf="
              userForm.get('lastName')?.invalid &&
              (userForm.get('lastName')?.dirty ||
                userForm.get('lastName')?.touched)
            "
          >
            <small
              class="error"
              *ngIf="userForm.get('lastName')?.errors?.['required']"
              >Nom Requis.</small
            >
          </div>
          <input
            class="input"
            type="text"
            placeholder="Nom"
            formControlName="lastName"
          />
        </div>
      </div>

      <div class="field">
        <div class="control">
          <div
            *ngIf="
              userForm.get('email')?.invalid &&
              (userForm.get('email')?.dirty || userForm.get('email')?.touched)
            "
          >
            <small
              class="error"
              *ngIf="userForm.get('email')?.errors?.['required']"
              >Email Requis.</small
            >
            <small
              class="error"
              *ngIf="userForm.get('email')?.errors?.['invalidEmail']"
              >Email Invalide.</small
            >
          </div>
          <input
            class="input"
            type="email"
            placeholder="Email"
            formControlName="email"
          />
        </div>
      </div>

      <div class="controlPassword" formGroupName="password">
        <div class="field">
          <div class="control">
            <div
              class="errorPassword"
              *ngIf="
                userForm.get('password.password')?.invalid &&
                (userForm.get('password.password')?.dirty ||
                  userForm.get('password.password')?.touched)
              "
            >
              <small
                class="error"
                *ngIf="
                  userForm.get('password.password')?.errors?.['invalidPassword']
                "
              >
                Le Mot de Passe doit contenir au moins 8
                caractères,minuscule,chiffre et caractère spécial.
              </small>
            </div>
            <input
              class="input"
              type="password"
              placeholder="Mot De Passe"
              formControlName="password"
            />
          </div>
        </div>

        <div class="field">
          <div class="control">
            <div
              *ngIf="
                userForm.get('password.confirmPassword')?.invalid &&
                (userForm.get('password.confirmPassword')?.dirty ||
                  userForm.get('password.confirmPassword')?.touched)
              "
            >
              <small
                class="error"
                *ngIf="
                  userForm.get('password.confirmPassword')?.errors?.['required']
                "
                >Confirmation Mot de Passe Requise.</small
              >
              <small
                class="error"
                *ngIf="userForm.get('password')?.errors?.['passwordsMismatch']"
                >Les mots de passe ne correspondent pas.</small
              >
            </div>
            <input
              class="input"
              type="password"
              placeholder="Confirmez Mot de Passe"
              formControlName="confirmPassword"
            />
          </div>
        </div>
      </div>

      <div *ngIf="userForm.invalid && myForm.submitted">
        <p>Formulaire incomplet !</p>
      </div>

      <div *ngIf="userForm.invalid">
        <button [disabled]="userForm.invalid" class="button btn-warning">
          Sauvegarder
        </button>
      </div>
      <div *ngIf="userForm.valid">
        <button class="button btn-valid">Sauvegarder</button>
      </div>
    </form>
  </div>

  <div class="blockForm" *ngIf="currentStep === 2">
    <form [formGroup]="buisnessForm">
      <h6>Information Entreprise</h6>
      <div class="field">
        <div class="control">
          <input
            class="input"
            type="text"
            placeholder="Nom de l'entreprise"
            formControlName="name"
          />
        </div>
      </div>
      <div class="field">
        <div class="control">
          <div
            *ngIf="
              buisnessForm.get('siren')?.invalid &&
              (buisnessForm.get('siren')?.dirty ||
                buisnessForm.get('siren')?.touched)
            "
          >
            <small
              class="error"
              *ngIf="buisnessForm.get('siren')?.errors?.['invalidSiren']"
              >Siren Invalide (9 Chiffres)</small
            >
          </div>
          <input
            class="input"
            type="number"
            placeholder="N° Siren"
            formControlName="siren"
          />
        </div>
      </div>
    </form>
  </div>
  <div class="blockForm" *ngIf="currentStep === 3">
    <form [formGroup]="establishmentForm">
      <h6>Informations Etablissement</h6>
      <div class="field">
        <div class="control">
          <input
            class="input"
            type="text"
            placeholder="Nom de l'établissement"
            formControlName="name"
          />
        </div>
      </div>
      <div class="field">
        <div class="control">
          <div
            *ngIf="
              establishmentForm.get('siret')?.invalid &&
              (establishmentForm.get('siret')?.dirty ||
                establishmentForm.get('siret')?.touched)
            "
          >
            <small
              class="error"
              *ngIf="establishmentForm.get('siret')?.errors?.['invalidSiret']"
              >NIC Invalide (5 Chiffres)</small
            >
          </div>
          <input
            class="input"
            type="text"
            placeholder="N° NIC"
            formControlName="siret"
          />
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input
            class="input"
            type="email"
            placeholder="Email"
            formControlName="email"
          />
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input
            class="input"
            type="text"
            placeholder="Téléphone"
            formControlName="phoneNumber"
          />
        </div>
      </div>
    </form>
  </div>
  <div class="blockForm" *ngIf="currentStep === 4">
    <form [formGroup]="addressForm">
      <h6>Adresse Etablissement</h6>
      <div class="field" class="adressform">
        <div class="control">
          <input
            class="input"
            autocomplete="off"
            type="text"
            id="adresse-input"
            placeholder="Recherchez votre adresse"
            name="adresse-input"
            (input)="filter($event)"
            (focus)="showSuggestions()"
            (blur)="hideSuggestions()"
          />
          <div class="choiceAdress">
            <ul
              *ngIf="suggestionsVisible"
              (mousedown)="keepSuggestionsVisible = true"
              (mouseup)="keepSuggestionsVisible = false"
            >
              <li
                *ngFor="let ville of filteredVilles"
                (click)="selectAdress(ville)"
                (keydown.enter)="selectAdress(ville)"
                tabindex="0"
              >
                {{ ville.properties.label }}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input
            class="input"
            type="text"
            placeholder="N° Rue"
            formControlName="streetNumber"
          />
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input
            class="input"
            type="text"
            placeholder="Nom de la Rue"
            formControlName="streetName"
          />
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input
            class="input"
            type="text"
            placeholder="Code Postal"
            formControlName="zipCode"
          />
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input
            class="input"
            type="text"
            name="city"
            placeholder="Ville"
            formControlName="city"
          />
        </div>
      </div>
    </form>
  </div>
</div>
