<div class="card">
  <div class="produit">
    <h3>Hamburger 9€</h3>
    <p>
      Bun burger classic, steak haché 250gr, cheddar, tomate, salade, oignon,
      sauce burger (accompagné de frites)<br />

      Quantité restante: 2<br />
      Allergène: gluten<br />
    </p>

    <p></p>
    <p>
      Adresse : Avenue de la République, Lille<br />
      Heure de collecte : avant 22h
    </p>
  </div>

  <div class="buttons">
    <div class="offer">
      <button>Offrir</button>
    </div>
    <div class="participate">
      <button>Participer</button>
    </div>
  </div>
</div>
