.min-h-screen {
  display: flex;
}

.content {
  flex: 1;
  overflow-y: auto;
  margin-left: 25%;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 80%;
    translate: 0%;
  }

  .content {
    margin-left: 0;
  }
}
