.main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  color: #3f3d3d;
  font-size: 25px;
}

h6 {
  color: #3f3d3d;
}

input {
  border: solid 1px rgba(153, 153, 153, 0.194);
  border-radius: 5px;
  height: 30px;
  width: 100%; /*longueur des inputs*/
  margin-top: 20px; /* Ajuster pour laisser de la place aux messages d'erreur */
  text-align: center;
  line-height: 1.5;
  color: #3f3d3d;
}

form {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  padding-top: 5px;
  align-items: center;
}

/* bouton sauvegarder */
button {
  width: 200px;
  border-radius: 5px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  color: white;
  margin-top: 20px;
}

.btn-valid {
  background-color: #61a05a;
}

.btn-warning {
  background-color: #ffb054;
}

.btn-warning:hover {
  background: #fb9c2f;
}

/* A quoi correspond ce css ? */
.btn-danger {
  background-color: #61a05a;
}

.control,
.field,
.blockForm,
.formUser,
.controlPassword {
  width: 100%;
}

.formUser {
  display: flex;
  flex-direction: column;
  min-height: 45vh;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 1px rgb(220, 38, 38);
}

.error {
  color: #fff;
  font-size: 0.7em;
  text-align: center;
}
.control {
  display: flex;
  flex-direction: column;
}
.name {
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
}
.errorPassword {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.controlPassword {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.controlName {
  display: flex;
  width: 100%;
  justify-content: space-between !important;
}

@media (min-width: 410px) and (max-width: 676px) {
  .main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  input {
    border: solid 1px rgba(153, 153, 153, 0.194);
    border-radius: 5px;
    height: 30px;
    width: 100%; /*longueur des inputs*/
    margin-top: 20px; /* Ajuster pour laisser de la place aux messages d'erreur */
    text-align: center;
    line-height: 1.5;
    color: #3f3d3d;
  }
  .error {
    display: inline-block;
    width: 80%;
  }
  .formUser {
    display: flex;
    flex-direction: column;
    min-height: 45vh;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }
}
