<!-- Utilisation en autonome -->
<ng-container *ngIf="!parentForm">
  <form
    [formGroup]="userForm"
    (ngSubmit)="createUser()"
    novalidate
    class="px-4"
  >
    <ng-container
      *ngTemplateOutlet="form; context: { formGroupData: userForm }"
    ></ng-container>
    <button
      *ngIf="!parentForm"
      [disabled]="userForm.invalid"
      class="button btn-warning shadow-lg m-top-input font-main"
      [ngClass]="userForm.invalid ? 'cursor-not-allowed' : ''"
      type="submit"
    >
      Valider
    </button>
  </form>
</ng-container>

<!-- Utilisation dans un parent -->
<ng-container *ngIf="parentForm">
  <ng-container
    *ngTemplateOutlet="form; context: { formGroupData: parentForm.get('user') }"
  ></ng-container>
</ng-container>

<!-- Création d'un template réutilisable pour les difféents cas d'utilisation -->
<ng-template #form let-formGroupData="formGroupData">
  <div
    *ngIf="formGroupData"
    [formGroup]="formGroupData"
    class="w-full h-full px-4"
  >
    <h1 class="text-center font-main mb-4">
      {{
        userInfos ? 'Je modifie mon profil' : 'Je crée mon compte utilisateur'
      }}
    </h1>
    <div class="flex flex-col md:gap-8 w-full md:flex-row">
      <div class="w-full">
        <input
          [ngClass]="
            formGroupData.get('firstName')?.invalid &&
            (formGroupData.get('firstName')?.dirty ||
              formGroupData.get('firstName')?.touched)
              ? 'text-red-600 placeholder:text-red-600 ring-2 ring-red-600 outline-offset-2 focus-visible:outline-none focus:outline-none'
              : 'outline-offset-2 focus-visible:outline-neutral-500 focus:outline-none'
          "
          class="input shadow-lg w-full m-top-input"
          type="text"
          placeholder="Votre prénom"
          formControlName="firstName"
        />
        <div class="field">
          <div class="control controlName">
            <div
              *ngIf="
                formGroupData.get('firstName')?.invalid &&
                (formGroupData.get('firstName')?.dirty ||
                  formGroupData.get('firstName')?.touched)
              "
              class="text-white bg-red-600 text-lg text-main font-semibold mt-1 rounded-md py-1"
            >
              <small
                *ngIf="formGroupData.get('firstName')?.errors?.['required']"
                >Prénom Requis.
              </small>
            </div>
          </div>
        </div>
      </div>

      <div class="w-full">
        <input
          [ngClass]="
            formGroupData.get('lastName')?.invalid &&
            (formGroupData.get('lastName')?.dirty ||
              formGroupData.get('lastName')?.touched)
              ? 'text-red-600 placeholder:text-red-600 ring-2 ring-red-600 outline-offset-2 focus-visible:outline-none focus:outline-none'
              : 'outline-offset-2 focus-visible:outline-neutral-500 focus:outline-none'
          "
          class="input shadow-lg w-full m-top-input"
          type="text"
          placeholder="Votre nom"
          formControlName="lastName"
        />
        <div class="field">
          <div class="control">
            <div
              *ngIf="
                formGroupData.get('lastName')?.invalid &&
                (formGroupData.get('lastName')?.dirty ||
                  formGroupData.get('lastName')?.touched)
              "
              class="text-white bg-red-600 text-lg text-main font-semibold mt-1 rounded-md py-1"
            >
              <small *ngIf="formGroupData.get('lastName')?.errors?.['required']"
                >Nom Requis.</small
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <h3 *ngIf="userInfos" class="text-main text-xl mt-4">Photo de profil</h3>
    <app-upload-file
      *ngIf="userInfos"
      [multiple]="false"
      acceptedTypes="image/*"
      (fileDropped)="onFileDropped($event)"
      (errorOccurred)="onErrorOccurred($event)"
    ></app-upload-file>

    <input
      [ngClass]="
        formGroupData.get('email')?.invalid &&
        (formGroupData.get('email')?.dirty ||
          formGroupData.get('email')?.touched)
          ? 'text-red-600 placeholder:text-red-600 ring-2 ring-red-600 outline-offset-2 focus-visible:outline-none focus:outline-none'
          : 'outline-offset-2 focus-visible:outline-neutral-500 focus:outline-none'
      "
      class="input shadow-lg m-top-input"
      type="email"
      placeholder="Votre adresse email"
      formControlName="email"
    />
    <div class="field">
      <div class="control">
        <div
          *ngIf="
            formGroupData.get('email')?.invalid &&
            (formGroupData.get('email')?.dirty ||
              formGroupData.get('email')?.touched)
          "
          class="text-white bg-red-600 text-lg text-main font-semibold mt-1 rounded-md py-1"
        >
          <small *ngIf="formGroupData.get('email')?.errors?.['required']"
            >Email Requis.</small
          >
          <small *ngIf="formGroupData.get('email')?.errors?.['invalidEmail']"
            >Email Invalide.</small
          >
        </div>
      </div>
    </div>

    <div
      *ngIf="!userInfos"
      class="controlPassword"
      formGroupName="passwordGroup"
    >
      <div class="addeyes">
        <div class="controlPassword m-top-input">
          <div class="eyespassword relative w-full">
            <input
              [ngClass]="
                formGroupData.get('passwordGroup.password')?.invalid &&
                (formGroupData.get('passwordGroup.password')?.dirty ||
                  formGroupData.get('passwordGroup.password')?.touched)
                  ? 'text-red-600 placeholder:text-red-600 ring-2 ring-red-600 outline-offset-2 focus-visible:outline-none focus:outline-none'
                  : 'outline-offset-2 focus-visible:outline-neutral-500 focus:outline-none'
              "
              class="input shadow-lg"
              placeholder="Votre mot de passe"
              formControlName="password"
              [type]="isHiddenPassword ? 'password' : 'text'"
            />

            <div
              class="eyes"
              [ngClass]="
                formGroupData.get('passwordGroup.password')?.invalid &&
                (formGroupData.get('passwordGroup.password')?.dirty ||
                  formGroupData.get('passwordGroup.password')?.touched)
                  ? 'text-red-600'
                  : 'text-neutral-500'
              "
            >
              <span
                [attr.aria-hidden]="true"
                title="afficher le code"
                class="material-symbols-outlined cursor-pointer"
                *ngIf="isHiddenPassword"
                (keyup)="togglePassword()"
                (click)="togglePassword()"
              >
                visibility
              </span>

              <span
                [attr.aria-hidden]="true"
                title="cacher le code"
                class="material-symbols-outlined cursor-pointer"
                *ngIf="!isHiddenPassword"
                (keyup)="togglePassword()"
                (click)="togglePassword()"
              >
                visibility_off
              </span>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <div
                class="errorPassword"
                *ngIf="
                  formGroupData.get('passwordGroup.password')?.invalid &&
                  (formGroupData.get('passwordGroup.password')?.dirty ||
                    formGroupData.get('passwordGroup.password')?.touched)
                "
                class="text-white bg-red-600 text-lg text-main font-semibold mt-1 rounded-md py-1"
              >
                <small
                  *ngIf="
                    formGroupData.get('passwordGroup.password')?.errors?.[
                      'invalidPassword'
                    ]
                  "
                >
                  Le mot de passe doit contenir au moins 8 caractères, une
                  minuscule, un chiffre et un caractère spécial.
                </small>
              </div>
            </div>
          </div>

          <div class="eyespassword w-full relative m-top-input">
            <input
              [ngClass]="
                formGroupData.get('passwordGroup.confirmPassword')?.invalid &&
                (formGroupData.get('passwordGroup.confirmPassword')?.dirty ||
                  formGroupData.get('passwordGroup.confirmPassword')?.touched)
                  ? 'text-red-600 placeholder:text-red-600 ring-2 ring-red-600 outline-offset-2 focus-visible:outline-none focus:outline-none'
                  : 'outline-offset-2 focus-visible:outline-neutral-500 focus:outline-none'
              "
              class="input shadow-lg"
              placeholder="Confirmez votre mot de passe"
              formControlName="confirmPassword"
              [type]="isHiddenConfirmPassword ? 'password' : 'text'"
            />

            <div
              class="eyes"
              [ngClass]="
                formGroupData.get('passwordGroup.confirmPassword')?.invalid &&
                (formGroupData.get('passwordGroup.confirmPassword')?.dirty ||
                  formGroupData.get('passwordGroup.confirmPassword')?.touched)
                  ? 'text-red-600'
                  : 'text-neutral-500'
              "
            >
              <span
                [attr.aria-hidden]="true"
                title="afficher le code"
                class="material-symbols-outlined cursor-pointer"
                *ngIf="isHiddenConfirmPassword"
                (keyup)="toggleConfirmPassword()"
                (click)="toggleConfirmPassword()"
              >
                visibility
              </span>

              <span
                [attr.aria-hidden]="true"
                title="cacher le code"
                class="material-symbols-outlined cursor-pointer"
                *ngIf="!isHiddenConfirmPassword"
                (keyup)="toggleConfirmPassword()"
                (click)="toggleConfirmPassword()"
              >
                visibility_off
              </span>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <div
                *ngIf="
                  formGroupData.get('passwordGroup.confirmPassword')?.invalid &&
                  (formGroupData.get('passwordGroup.confirmPassword')?.dirty ||
                    formGroupData.get('passwordGroup.confirmPassword')?.touched)
                "
                class="text-white bg-red-600 text-lg text-main font-semibold mt-1 rounded-md py-1"
              >
                <small
                  *ngIf="
                    formGroupData.get('passwordGroup.confirmPassword')
                      ?.errors?.['required']
                  "
                  >Confirmation mot de passe requise.</small
                >
                <small
                  *ngIf="
                    formGroupData.get('passwordGroup')?.errors?.[
                      'passwordsMismatch'
                    ]
                  "
                  >Les mots de passe ne correspondent pas.</small
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      *ngIf="formGroupData.invalid && submitted && !parentForm"
      class="font-main text-red-600 font-bold text-xl"
    >
      <p>Formulaire incomplet !</p>
    </div>
  </div>
</ng-template>
