:host {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

form {
  width: 100%;
}

.buttons {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  display: flex;
}

.btn-valid {
  background-color: #61a05a;
  width: 200px;
  border-radius: 5px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  color: #fff;
  margin-left: auto;
}

.btn-valid:hover {
  background-color: #518e4a;
}

.btn-warning {
  background-color: #ffb054;
  width: 200px;
  border-radius: 5px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  color: #fff;
  margin-right: auto;
}

.btn-warning:hover {
  background: #fb9c2f;
}

@media (max-width: 676px) {
  .btn-valid,
  .btn-warning {
    width: 150px;
  }
}
