<div class="h-screen w-[350px] flex flex-col bg-neutral-500/50">
  <div>
    <div class="flex justify-center items-center h-100px w-full mt-8">
      <div
        class="h-[100px] w-[100px] bg-neutral-700 rounded-full transition-colors animate-pulse"
      ></div>
    </div>
    <div class="w-full flex flex-col items-center mb-8">
      <div
        class="bg-neutral-700 h-[20px] w-[70%] rounded-md mt-4 transition-colors animate-pulse"
      ></div>
      <div
        class="bg-neutral-700 h-[20px] w-[60%] rounded-md mt-4 transition-colors animate-pulse"
      ></div>
      <div
        class="bg-neutral-700 h-[20px] w-[70%] rounded-md mt-4 transition-colors animate-pulse"
      ></div>
    </div>
  </div>
  <div class="w-full flex-1 flex flex-col items-center">
    <div
      class="bg-neutral-700 h-[60px] w-[80%] rounded-md mt-8 transition-colors animate-pulse"
    ></div>
    <div
      class="bg-neutral-700 h-[60px] w-[80%] rounded-md mt-8 transition-colors animate-pulse"
    ></div>
    <div
      class="bg-neutral-700 h-[60px] w-[80%] rounded-md mt-8 transition-colors animate-pulse"
    ></div>
    <div
      class="bg-neutral-700 h-[60px] w-[80%] rounded-md mt-8 transition-colors animate-pulse"
    ></div>
  </div>
  <div
    class="bg-neutral-700 h-[50px] w-full mt-auto transition-colors animate-pulse"
  ></div>
</div>
