h1 {
  text-align: center;
  margin-top: 6rem;
  font-weight: 400;
  font-style: normal;
}

.span-custom {
  background: linear-gradient(
    90deg,
    var(--primary-color) 20%,
    var(--secondary-color) 80%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
