<div class="main mt-16">
  <div class="container mb-4">
    <p>
      Avec <span class="font_foodbuddy">Food Buddy</span>, vous avez la
      possibilité d'offrir un moment de partage et de bonheur à une famille et
      des enfants dans le besoin.
    </p>
  </div>
  <div
    class="registerComponent shadow-lg bg-white/10 backdrop-blur-lg rounded-xl py-4"
  >
    <div class="choiceAccount mx-auto px-4 mb-6">
      <button
        [disabled]="!buisnessChoice"
        (click)="buisnessChoice()"
        class="btn-warning shadow-lg"
      >
        Commerçant
      </button>
      <button
        [disabled]="!clientChoice"
        (click)="clientChoice()"
        class="btn-valid shadow-lg"
      >
        Donateur/Utilisateur
      </button>
    </div>

    <div class="allForms">
      <div *ngIf="!choiceBuisness" id="userForm">
        <app-user-form class="component"></app-user-form>
      </div>
      <div *ngIf="choiceBuisness" id="buisnessForm">
        <app-buisness-register-form
          class="component"
        ></app-buisness-register-form>
      </div>
    </div>
  </div>
</div>
