<button class="hamburger" (click)="toggleSidebar()">
  <span>&#9776;</span>
</button>

<div
  class="sidebar relative bg-white/10 backdrop-blur-lg z-50"
  [class.active]="toggle"
>
  <div *ngIf="isLodding" class="container">
    <app-side-bare-skeleton></app-side-bare-skeleton>
  </div>
  <div *ngIf="!isLodding" class="container">
    <section>
      <div>
        <div class="avatar">S.C</div>
      </div>
      <h4 class="text-3xl font-bold dark:text-white">
        {{ establishmentActive.name }}
      </h4>
      <h5 class="text-1xl font-bold dark:text-white">
        {{ establishmentActive.name }}
      </h5>
      <label for="establishment-choice">Changez d'établissement</label>
      <select
        class="bg-white font-main font-semibold text-center px-2 rounded-md"
        name="establishment-choice"
        (change)="changeEstablishment($event)"
      >
        <option
          *ngFor="let establishment of establishments"
          [value]="establishment.id"
        >
          {{ establishment.name }}
        </option>
      </select>
    </section>
    <section>
      <ul>
        <li>
          <a
            [routerLink]="[
              '/merchant/establishment/',
              establishmentActive.id,
              'products',
            ]"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Mes Produits
          </a>
        </li>
        <li>
          <a
            [routerLink]="[
              '/merchant/establishment/',
              establishmentActive.id,
              'new-product',
            ]"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Créer un Produit
          </a>
        </li>
        <li><a [routerLink]="['/']"> Options </a></li>
        <li><a [routerLink]="['/']"> Options </a></li>
      </ul>
    </section>
    <section>
      <app-logout-button
        class="w-full text-center"
        [buttonSyle]="true"
      ></app-logout-button>
    </section>
  </div>
</div>
