.sidebar {
  width: 80%;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 9;
  overflow-y: auto;
  box-shadow: 5px 0 3px -3px #00000030;
}

.sidebar.active {
  transform: translateX(0);
}

.container {
  padding: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  font-family: 'Saira Semi Condensed', sans-serif;
}

ul {
  height: 100%;
  width: 80%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

section {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

section:nth-child(3) {
  height: 7%;

  font-size: 1.5em;
  color: white;
}

section:nth-child(2) {
  height: 50%;
}

section:nth-child(1) {
  padding-top: 20px;
}

li {
  width: 90%;
  height: 40px;
  border-radius: 7px;
  color: #fb9c2f;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

li a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  font-weight: bold;
  font-family: 'Saira Semi Condensed', sans-serif;
  box-shadow:
    rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

li a:hover,
li a.active {
  color: #fff;
  background-color: #61a05a;
}

.avatar {
  width: 70px;
  height: 70px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  font-weight: bold;
  color: var(--secondary-color);
}

input {
  text-align: center;
}

h4 {
  color: var(--secondary-color);
}

.hamburger {
  position: fixed;
  top: 0;
  z-index: 10;
  border: none;
  padding: 10px;
  cursor: pointer;
  background-color: rgba(168, 168, 168, 0.713);
  border-radius: 7px;
  display: flex;
}
@media screen and (min-width: 409px) {
  .sidebar {
    width: 350px;
    transform: translate(0%);
  }

  .hamburger {
    display: none;
  }
  .content {
    margin-left: 0;
  }
}
