<button class="hamburger" (click)="toggleSidebar()">
  <span>&#9776;</span>
</button>

<div
  class="sidebar relative bg-white/10 backdrop-blur-lg"
  [class.active]="toggle"
>
  <div class="container">
    <section>
      <div>
        <div class="avatar">S.C</div>
      </div>
      <h4 class="text-3xl font-bold dark:text-white">Subway Company</h4>
      <h5 class="text-2xl font-bold dark:text-white">SubWay</h5>
      <h6 class="text-1xl font-bold dark:text-white">
        Subway Gare Lille Flandres
      </h6>
      <label for="ice-cream-choice">Changez l'etablissement</label>
      <input
        list="choice-etablishment"
        id="ice-cream-choice"
        name="ice-cream-choice"
      />

      <datalist id="choice-etablishment">
        <option value="Croix Centre"></option>
        <option value="Roubaix Euroteleport"></option>
      </datalist>
    </section>
    <section>
      <ul>
        <li><a routerlink="'/'"> Vos Produits </a></li>
        <li><a routerlink="'/'"> Historiques des Dons </a></li>
        <li><a routerlink="'/'"> Options </a></li>
        <li><a routerlink="'/'"> Options </a></li>
      </ul>
    </section>
    <section>
      <app-logout-button
        class="w-full text-center"
        [buttonSyle]="true"
      ></app-logout-button>
    </section>
  </div>
</div>
