<div class="card">
  <div class="imgcard">
    <img
      [src]="
        product.imageUrl ? product.imageUrl : 'assets/defautImageCard.jpeg'
      "
      alt=""
    />
  </div>
  <div class="logoEtablissement">
    <img
      [src]="product.imageUrl ? product.imageUrl : 'assets/default-busines.png'"
      alt=""
    />
  </div>
  <div class="cardBody">
    <ul class="text-neutral-600">
      <li class="text-lg font-bold">{{ product.name }}</li>
      <li>{{ product.description }}</li>
      <li>{{ product.price }} €</li>
    </ul>
    <div class="allButtons">
      <button class="btn-valid" [hidden]="userInfos.isEligible">Offrir</button>
      <button class="btn-warning" [hidden]="userInfos.isEligible">
        Participer
      </button>
      <button
        class="btn-danger"
        [hidden]="!userInfos.isEligible"
        (click)="sendProduct(product.id)"
      >
        Reserver
      </button>
    </div>
  </div>
</div>
