<div class="card">
  <div class="logoEtablissement">
    <img
      [src]="product.imageUrl ? product.imageUrl : 'assets/default-busines.png'"
      alt=""
    />
  </div>

  <div class="imgcard">
    <img
      [src]="
        product.imageUrl ? product.imageUrl : 'assets/hamburger-foodie-2.webp'
      "
      alt=""
    />
  </div>

  <div class="cardBody">
    <div class="text-neutral-600">
      <h3>{{ product.name }} {{ product.price }}</h3>
      <p>
        nom du restaurant <span class="material-symbols-outlined">... </span>
      </p>
    </div>
    <div class="allButtons">
      <button class="btn-valid" [hidden]="userInfos.isEligible">Offrir</button>
      <button class="btn-warning" [hidden]="userInfos.isEligible">
        Participer
      </button>
      <button
        class="btn-danger"
        [hidden]="!userInfos.isEligible"
        (click)="sendProduct(product.id)"
      >
        Réserver
      </button>
    </div>
  </div>
</div>

<!-- <div class="logoEtablissement">
  <img
    [src]="product.imageUrl ? product.imageUrl : 'assets/default-busines.png'"
    alt=""
  />
</div> -->
