<div
  class="h-[60px] md:hidden w-full flex justify-center items-center bg-white/10 backdrop-blur-lg fixed bottom-0 left-0 px-5 md:justify-between z-50 nav-mobile"
>
  <nav class="h-full w-full">
    <ul class="h-full w-full justify-evenly flex items-center">
      <li class="">
        <a
          routerlink="#"
          routerLinkActive="active-link"
          class="font-main text-xl font-bold cursor-pointer hover:text-secondary transition-colors"
          ><img src="assets/login.svg" alt=""
        /></a>
      </li>
      <li class="">
        <a
          routerlink="#"
          routerLinkActive="active-link"
          class="hover:text-secondary transition-colors"
        >
          <img
            src="assets/register.svg"
            alt="icon register"
            class="h-10 w-10 text-white"
          />
        </a>
      </li>
    </ul>
  </nav>
</div>
