<div
  class="h-[60px] md:hidden w-full flex justify-center items-center bg-white/10 backdrop-blur-lg fixed bottom-0 left-0 px-5 md:justify-between z-50 nav-mobile"
>
  <nav class="h-full w-full">
    <ul class="h-full w-full justify-evenly flex items-center">
      <li class="">
        <app-link-navbar
          [text]="'Connexion'"
          [icon]="'login'"
          [route]="'/login'"
          [isMobile]="true"
        ></app-link-navbar>
      </li>
      <li class="">
        <app-link-navbar
          [text]="'Créer un compte'"
          [icon]="'person_add'"
          [route]="'/register'"
          [isMobile]="true"
        ></app-link-navbar>
      </li>
    </ul>
  </nav>
</div>
