<div
  class="h-[60px] md:hidden w-full flex justify-center items-center bg-white/10 backdrop-blur-lg fixed bottom-0 left-0 px-5 md:justify-between z-50 nav-mobile"
>
  <nav class="h-full w-full">
    <ul class="h-full w-full justify-evenly flex items-center">
      <li class="">
        <a
          routerlink="#"
          routerLinkActive="active-link"
          class="cursor-pointer hover:text-secondary transition-colors"
        >
          <div class="w-full h-full flex flex-col justify-center items-center">
            <span class="material-symbols-outlined text-3xl text-white">
              login
            </span>
            <span class="font-main text-xl font-bold text-white -mt-2"
              >Connexion</span
            >
          </div></a
        >
      </li>
      <li class="">
        <a
          routerlink="#"
          routerLinkActive="active-link"
          class="hover:text-secondary transition-colors"
        >
          <div class="w-full h-full flex flex-col justify-center items-center">
            <span class="material-symbols-outlined text-3xl text-white">
              person_add
            </span>
            <span class="font-main text-xl font-bold text-white -mt-2"
              >Créer un compte</span
            >
          </div>
        </a>
      </li>
    </ul>
  </nav>
</div>
