h6 {
  text-align: center;
  color: #3f3d3d;
  font-size: 25px;
  padding-top: 5px;
}

.adresse-input {
  width: 100%;
  flex-direction: column;
}

ul {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #ccc;
  background-color: #fff;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 1000;
  max-height: 150px;
  overflow-y: auto;
}

li {
  padding: 8px;
  cursor: pointer;
}

li:hover {
  background-color: #f0f0f0;
}

input {
  border-radius: 5px;
  width: 100%;
  line-height: 1.5;
  color: #3f3d3d;
  padding: 0.5rem 1rem;
}

.adresse-input {
  width: 100%;
  flex-direction: column;
}

div.field {
  width: 100%;
}

.m-top-input {
  margin-top: 2rem;
}

.btn-warning {
  background-color: #ffb054;
  width: 100%;
  border-radius: 5px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  color: #fff;
  margin-right: auto;
}

.btn-warning:hover {
  background: #fb9c2f;
}
