<div class="allboxes">
  <!-- Informations utilisateur form#1-->
  <div class="boxblock1">
    <div class="blockForm" *ngIf="currentStep === 1">
      <form
        *ngIf="businessAccountForm"
        [formGroup]="businessAccountForm"
        #myForm="ngForm"
        novalidate
        class="px-4"
      >
        <app-user-form [parentForm]="businessAccountForm"></app-user-form>
      </form>
    </div>

    <!-- Informations entreprise form#2 -->
    <div class="boxblock2">
      <div class="blockForm" *ngIf="currentStep === 2">
        <form [formGroup]="businessAccountForm" class="px-4">
          <app-buisness-form
            [parentForm]="businessAccountForm"
          ></app-buisness-form>
        </form>
      </div>
    </div>

    <!-- Informations etablissement form#3 -->
    <div class="boxblock3">
      <div class="blockForm" *ngIf="currentStep === 3">
        <form [formGroup]="businessAccountForm" class="px-4">
          <app-establishment-form
            [parentForm]="businessAccountForm"
          ></app-establishment-form>
        </form>
      </div>
    </div>

    <!-- Informations adresse form#4 -->
    <div class="boxblock4">
      <div class="blockForm" *ngIf="currentStep === 4">
        <form [formGroup]="businessAccountForm" class="px-4">
          <app-address-form
            [parentForm]="businessAccountForm"
          ></app-address-form>
        </form>
      </div>

      <div class="buttons">
        <button
          *ngIf="currentStep !== 1"
          class="button btn-warning"
          (click)="prevStep()"
        >
          Précédent
        </button>

        <button
          class="button btn-valid"
          (click)="currentStep === 4 ? createBuisness() : nextStep()"
          [ngClass]="{
            'cursor-not-allowed':
              (businessAccountForm.get('user')?.invalid && currentStep === 1) ||
              (businessAccountForm.get('business')?.invalid &&
                currentStep === 2) ||
              (businessAccountForm.get('establishment')?.invalid &&
                currentStep === 3) ||
              (businessAccountForm.get('address')?.invalid &&
                currentStep === 4),
          }"
          [disabled]="
            (businessAccountForm.get('user')?.invalid && currentStep === 1) ||
            (businessAccountForm.get('business')?.invalid &&
              currentStep === 2) ||
            (businessAccountForm.get('establishment')?.invalid &&
              currentStep === 3) ||
            (businessAccountForm.get('address')?.invalid && currentStep === 4)
          "
        >
          {{ currentStep === 4 ? 'Créer mon compte' : 'Suivant' }}
        </button>
      </div>
    </div>
  </div>
</div>
