<div class="allboxes">
  <div class="boxblock1">
    <!-- Informations client form#1-->
    <div class="blockForm" *ngIf="currentStep === 1">
      <form
        *ngIf="userForm"
        [formGroup]="userForm"
        #myForm="ngForm"
        novalidate
        class="px-4"
      >
        <app-user-form [parentForm]="userForm"></app-user-form>
      </form>

      <!-- FIN Informations client form#1-->
    </div>

    <div class="boxblock2">
      <!-- informations entreprise form#2 -->
      <div class="blockForm" *ngIf="currentStep === 2">
        <app-buisness-form [parentForm]="buisnessForm"></app-buisness-form>
        <!-- <form [formGroup]="buisnessForm" class="px-4">
          <h6>Informations Entreprise</h6>
          <div class="field">
            <div class="control">
              <input
                class="input shadow-lg w-full m-top-input"
                type="text"
                placeholder="Nom de l'entreprise"
                formControlName="name"
                [ngClass]="
                  buisnessForm.get('name')?.invalid &&
                  (buisnessForm.get('name')?.dirty ||
                    buisnessForm.get('name')?.touched)
                    ? 'text-red-600 placeholder:text-red-600 ring-2 ring-red-600 outline-offset-2 focus-visible:outline-none focus:outline-none'
                    : 'outline-offset-2 focus-visible:outline-neutral-500 focus:outline-none'
                "
              />
              <div
                *ngIf="
                  buisnessForm.get('name')?.invalid &&
                  (buisnessForm.get('name')?.dirty ||
                    buisnessForm.get('name')?.touched)
                "
                class="text-white bg-red-600 text-lg text-main font-semibold mt-1 rounded-md py-1"
              >
                <small
                  class="error"
                  *ngIf="buisnessForm.get('name')?.errors?.['required']"
                  >Nom de l'entreprise requis.</small
                >
              </div>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <input
                class="input shadow-lg w-full m-top-input"
                type="text"
                placeholder="N° Siren"
                formControlName="siren"
                [ngClass]="
                  buisnessForm.get('siren')?.invalid &&
                  (buisnessForm.get('siren')?.dirty ||
                    buisnessForm.get('siren')?.touched)
                    ? 'text-red-600 placeholder:text-red-600 ring-2 ring-red-600 outline-offset-2 focus-visible:outline-none focus:outline-none'
                    : 'outline-offset-2 focus-visible:outline-neutral-500 focus:outline-none'
                "
              />
              <div
                *ngIf="
                  buisnessForm.get('siren')?.invalid &&
                  (buisnessForm.get('siren')?.dirty ||
                    buisnessForm.get('siren')?.touched)
                "
                class="text-white bg-red-600 text-lg text-main font-semibold mt-1 rounded-md py-1"
              >
                <small
                  class="error"
                  *ngIf="buisnessForm.get('siren')?.errors?.['invalidSiren']"
                  >Siren invalide (9 Chiffres)</small
                >
              </div>
            </div>
          </div>
        </form> -->
      </div>

      <!-- FIN informations entreprise form#2 -->
    </div>
    <div class="boxblock3">
      <!-- informations etablissement form#3 -->
      <div class="blockForm" *ngIf="currentStep === 3">
        <form [formGroup]="establishmentForm" class="px-4">
          <h6>Informations Etablissement</h6>
          <div class="field">
            <div class="control">
              <input
                class="input shadow-lg w-full m-top-input"
                type="text"
                placeholder="Nom de l'établissement"
                formControlName="name"
                [ngClass]="
                  establishmentForm.get('name')?.invalid &&
                  (establishmentForm.get('name')?.dirty ||
                    establishmentForm.get('name')?.touched)
                    ? 'text-red-600 placeholder:text-red-600 ring-2 ring-red-600 outline-offset-2 focus-visible:outline-none focus:outline-none'
                    : 'outline-offset-2 focus-visible:outline-neutral-500 focus:outline-none'
                "
              />
            </div>
            <div
              *ngIf="
                establishmentForm.get('name')?.invalid &&
                (establishmentForm.get('name')?.dirty ||
                  establishmentForm.get('name')?.touched)
              "
              class="text-white bg-red-600 text-lg text-main font-semibold mt-1 rounded-md py-1"
            >
              <small
                class="error"
                *ngIf="establishmentForm.get('name')?.errors?.['required']"
                >Nom de l'établissement requis.</small
              >
            </div>
          </div>

          <div class="field">
            <div class="control">
              <input
                class="input shadow-lg w-full m-top-input"
                type="text"
                placeholder="N° siret"
                formControlName="siret"
                [ngClass]="
                  establishmentForm.get('siret')?.invalid &&
                  (establishmentForm.get('siret')?.dirty ||
                    establishmentForm.get('siret')?.touched)
                    ? 'text-red-600 placeholder:text-red-600 ring-2 ring-red-600 outline-offset-2 focus-visible:outline-none focus:outline-none'
                    : 'outline-offset-2 focus-visible:outline-neutral-500 focus:outline-none'
                "
              />
            </div>
            <div
              *ngIf="
                establishmentForm.get('siret')?.invalid &&
                (establishmentForm.get('siret')?.dirty ||
                  establishmentForm.get('siret')?.touched)
              "
              class="text-white bg-red-600 text-lg text-main font-semibold mt-1 rounded-md py-1"
            >
              <small
                class="error"
                *ngIf="establishmentForm.get('siret')?.errors?.['invalidSiret']"
                >N° siret Invalide (5 Chiffres)</small
              >
            </div>
          </div>

          <div class="field">
            <div class="control">
              <input
                class="input shadow-lg w-full m-top-input"
                type="email"
                placeholder="Votre adresse email professionel"
                formControlName="email"
                [ngClass]="
                  establishmentForm.get('email')?.invalid &&
                  (establishmentForm.get('email')?.dirty ||
                    establishmentForm.get('email')?.touched)
                    ? 'text-red-600 placeholder:text-red-600 ring-2 ring-red-600 outline-offset-2 focus-visible:outline-none focus:outline-none'
                    : 'outline-offset-2 focus-visible:outline-neutral-500 focus:outline-none'
                "
              />
            </div>
            <div
              *ngIf="
                establishmentForm.get('email')?.invalid &&
                (establishmentForm.get('email')?.dirty ||
                  establishmentForm.get('email')?.touched)
              "
              class="flex flex-col gap-2 text-white bg-red-600 text-lg text-main font-semibold mt-1 rounded-md py-1"
            >
              <small
                class="error"
                *ngIf="establishmentForm.get('email')?.errors?.['required']"
                >Email Requis.</small
              >
              <small
                class="error"
                *ngIf="establishmentForm.get('email')?.errors?.['invalidEmail']"
                >Email Invalide.</small
              >
            </div>
          </div>

          <div class="field">
            <div class="control">
              <input
                class="input shadow-lg w-full m-top-input"
                type="text"
                placeholder="Votre numéro de téléphone"
                formControlName="phoneNumber"
                [ngClass]="
                  establishmentForm.get('phoneNumber')?.invalid &&
                  (establishmentForm.get('phoneNumber')?.dirty ||
                    establishmentForm.get('phoneNumber')?.touched)
                    ? 'text-red-600 placeholder:text-red-600 ring-2 ring-red-600 outline-offset-2 focus-visible:outline-none focus:outline-none'
                    : 'outline-offset-2 focus-visible:outline-neutral-500 focus:outline-none'
                "
              />
            </div>
            <div
              *ngIf="
                establishmentForm.get('phoneNumber')?.invalid &&
                (establishmentForm.get('phoneNumber')?.dirty ||
                  establishmentForm.get('phoneNumber')?.touched)
              "
              class="text-white bg-red-600 text-lg text-main font-semibold mt-1 rounded-md py-1"
            >
              <small
                class="error"
                *ngIf="
                  establishmentForm.get('phoneNumber')?.errors?.['required']
                "
                >Numéro de téléphone requis.</small
              >
            </div>
          </div>
        </form>
      </div>
      <!-- FIN informations etablissement form#3 -->
    </div>
    <div class="boxblock4">
      <!-- adresse etablissement form#4 -->
      <div class="blockForm" *ngIf="currentStep === 4">
        <form [formGroup]="addressForm" class="px-4">
          <h6>Adresse de l'établissement</h6>
          <div class="field relative">
            <div class="control">
              <input
                class="input shadow-lg w-full m-top-input"
                autocomplete="off"
                type="text"
                id="adresse-input"
                placeholder="Recherchez votre adresse"
                name="adresse-input"
                (input)="filter($event)"
                (focus)="showSuggestions()"
                (blur)="hideSuggestions()"
              />
              <div class="absolute bottom-[-5px] left-0 w-full">
                <ul
                  *ngIf="suggestionsVisible"
                  (mousedown)="keepSuggestionsVisible = true"
                  (mouseup)="keepSuggestionsVisible = false"
                >
                  <li
                    *ngFor="let ville of filteredVilles"
                    (click)="selectAdress(ville)"
                    (keydown.enter)="selectAdress(ville)"
                    tabindex="0"
                  >
                    {{ ville.properties.label }}
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <input
                class="input shadow-lg w-full m-top-input"
                type="text"
                placeholder="N° rue"
                formControlName="streetNumber"
                [ngClass]="
                  addressForm.get('streetNumber')?.invalid &&
                  (addressForm.get('streetNumber')?.dirty ||
                    addressForm.get('streetNumber')?.touched)
                    ? 'text-red-600 placeholder:text-red-600 ring-2 ring-red-600 outline-offset-2 focus-visible:outline-none focus:outline-none'
                    : 'outline-offset-2 focus-visible:outline-neutral-500 focus:outline-none'
                "
              />
            </div>
            <div
              *ngIf="
                addressForm.get('streetNumber')?.invalid &&
                (addressForm.get('streetNumber')?.dirty ||
                  addressForm.get('streetNumber')?.touched)
              "
              class="text-white bg-red-600 text-lg text-main font-semibold mt-1 rounded-md py-1"
            >
              <small
                class="error"
                *ngIf="addressForm.get('streetNumber')?.errors?.['required']"
                >Numéro de rue requis.</small
              >
            </div>
          </div>

          <div class="field">
            <div class="control">
              <input
                class="input shadow-lg w-full m-top-input"
                type="text"
                placeholder="Nom de la rue"
                formControlName="streetName"
                [ngClass]="
                  addressForm.get('streetName')?.invalid &&
                  (addressForm.get('streetName')?.dirty ||
                    addressForm.get('streetName')?.touched)
                    ? 'text-red-600 placeholder:text-red-600 ring-2 ring-red-600 outline-offset-2 focus-visible:outline-none focus:outline-none'
                    : 'outline-offset-2 focus-visible:outline-neutral-500 focus:outline-none'
                "
              />
            </div>
            <div
              *ngIf="
                addressForm.get('streetName')?.invalid &&
                (addressForm.get('streetName')?.dirty ||
                  addressForm.get('streetName')?.touched)
              "
              class="text-white bg-red-600 text-lg text-main font-semibold mt-1 rounded-md py-1"
            >
              <small
                class="error"
                *ngIf="addressForm.get('streetName')?.errors?.['required']"
                >Nom de la rue requis.</small
              >
            </div>
          </div>

          <div class="field">
            <div class="control">
              <input
                class="input shadow-lg w-full m-top-input"
                type="text"
                placeholder="Code postal"
                formControlName="zipCode"
                [ngClass]="
                  addressForm.get('zipCode')?.invalid &&
                  (addressForm.get('zipCode')?.dirty ||
                    addressForm.get('zipCode')?.touched)
                    ? 'text-red-600 placeholder:text-red-600 ring-2 ring-red-600 outline-offset-2 focus-visible:outline-none focus:outline-none'
                    : 'outline-offset-2 focus-visible:outline-neutral-500 focus:outline-none'
                "
              />
            </div>
            <div
              *ngIf="
                addressForm.get('zipCode')?.invalid &&
                (addressForm.get('zipCode')?.dirty ||
                  addressForm.get('zipCode')?.touched)
              "
              class="text-white bg-red-600 text-lg text-main font-semibold mt-1 rounded-md py-1"
            >
              <small
                class="error"
                *ngIf="addressForm.get('zipCode')?.errors?.['required']"
                >Code postal requis.</small
              >
            </div>
          </div>

          <div class="field">
            <div class="control">
              <input
                class="input shadow-lg w-full m-top-input"
                type="text"
                name="city"
                placeholder="Ville"
                formControlName="city"
                [ngClass]="
                  addressForm.get('city')?.invalid &&
                  (addressForm.get('city')?.dirty ||
                    addressForm.get('city')?.touched)
                    ? 'text-red-600 placeholder:text-red-600 ring-2 ring-red-600 outline-offset-2 focus-visible:outline-none focus:outline-none'
                    : 'outline-offset-2 focus-visible:outline-neutral-500 focus:outline-none'
                "
              />
            </div>
            <div
              *ngIf="
                addressForm.get('city')?.invalid &&
                (addressForm.get('city')?.dirty ||
                  addressForm.get('city')?.touched)
              "
              class="text-white bg-red-600 text-lg text-main font-semibold mt-1 rounded-md py-1"
            >
              <small
                class="error"
                *ngIf="addressForm.get('city')?.errors?.['required']"
                >Ville requise.</small
              >
            </div>
          </div>
        </form>
      </div>
      <!-- FIN adresse etablissement form#4 -->
      <div class="buttons">
        <button
          *ngIf="currentStep !== 1"
          class="button btn-warning"
          (click)="prevStep()"
        >
          Précédent
        </button>

        <button
          class="button btn-valid"
          (click)="currentStep === 4 ? createBuisness() : nextStep()"
          [ngClass]="{
            'cursor-not-allowed':
              (userForm.invalid && currentStep === 1) ||
              (buisnessForm.invalid && currentStep === 2) ||
              (establishmentForm.invalid && currentStep === 3) ||
              (addressForm.invalid && currentStep === 4),
          }"
          [disabled]="
            (userForm.invalid && currentStep === 1) ||
            (buisnessForm.invalid && currentStep === 2) ||
            (establishmentForm.invalid && currentStep === 3) ||
            (addressForm.invalid && currentStep === 4)
          "
        >
          {{ currentStep === 4 ? 'Créer mon compte' : 'Suivant' }}
        </button>
      </div>
    </div>
  </div>
</div>
