.card {
  background-color: #ffffff;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  border-radius: 5px;
  box-shadow: 2px 5px 5px rgb(128, 128, 128);
  z-index: 10;
  overflow: hidden;
}
.cardBody {
  width: 100%;
}
.imgcard {
  height: 100px;
  width: 100%;
  background-color: #686868;
  border-radius: 5px 5px 0 0;
}
.imgcard img {
  height: 100%;
  width: 100%;
  background-color: #686868;
  border-radius: 5px 5px 0 0;
}
.logoEtablissement {
  position: absolute;
  overflow: hidden;
  width: 75px;
  height: 75px;
  background-color: green;
  z-index: 20;
  top: 55px;
  border-radius: 50%;
}
.allButtons {
  width: 100%;
  display: flex;
  margin-top: 5px;
  gap: 1px;
}
