@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-title: 'Lobster', sans-serif;
    --primary-color: #00c3b1;
    --secondary-color: #fb9803;
  }
}
